.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px; /* Altura do footer */
  background-color: #8b61f2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  margin-left: 15px;
}
