.navbar {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  background-color: #8b61f2;
  align-items: center;
  height: 100px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoColumn {
  flex: 0 0 100px;
}

.searchColumn {
  flex: 1;
}

.userColumn {
  flex: 0 0 50px;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.search {
  margin-bottom: 5px;
  width: 500px;
  height: 30px;
  background-color: #ffffff;
  color: #000000;
  border-color: #cacaca;
  padding: 10px;
  border-radius: 5px;
}

.categories {
  text-decoration: none;
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: large;
}

.categories li :hover {
  background-color: #6d4dbe;
  margin: 10px;
  padding: 5px;
  transition: 100ms;
}

.userInfo {
  display: flex;
  align-items: center;
  width: 160px;
}

.userInfoText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divider {
  width: 1px;
  height: 40px;
  background-color: #ffffff;
  margin: 0 10px;
}

.userInfoRegister :hover,
.userInfoLogin :hover {
  font-weight: bold;
}

.logoImg {
  display: block;
  max-width: auto;
  height: auto;
}
