.navbar {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  background-color: #8b61f2;
  align-items: center;
  height: 100px;
  color: #ffffff;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchColumn {
  flex: 1;
}

.userColumn {
  flex: 0 0 50px;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.searchInput {
  margin-bottom: 5px;
  width: 500px;
  height: 30px;
  background-color: #ffffff;
  color: #000000;
  border-color: #cacaca;
  padding: 10px;
  border-radius: 5px;
}

.searchInputError {
  border: 2px solid #ff0000;
  transition: border-color 500ms;
}

.searchInputError::placeholder {
  color: #ff0000;
  transition: color 500ms;
}


.categories {
  text-decoration: none;
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: large;
}

.categories li :hover {
  background-color: #6d4dbe;
  margin: 10px;
  padding: 5px;
  transition: 100ms;
}

.userInfo {
  display: flex;
  align-items: center;
  width: 160px;
}

.userInfoText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divider {
  width: 1px;
  height: 40px;
  background-color: #ffffff;
  margin: 0 10px;
}

.userInfoRegister :hover,
.userInfoLogin :hover {
  font-weight: bold;
}

.searchForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchButton {
  padding: 5px 10px;
  border: 2px solid #ffffff;
  background: none;
  border-radius: 15px;
  color: #fff;
}

.searchButton:hover {
  background-color: #ffffff;
  color: #6d4dbe;
  transition: 500ms;
}

.logoutButton {
  padding: 5px 10px;
  border: 2px solid #ffffff;
  background: none;
  border-radius: 15px;
  color: #fff;
}

.logoutButton:hover {
  background-color: #ff0000;
  transition: background-color 300ms;
}

@media screen and (max-width: 320px) {

.searchForm{
  margin: 50px 0 0 0;
  width: 250px;
}

.searchInput{
  width: 150px;
  margin-right: 10px ;
  
}
.searchInput::placeholder {
  font-size: 12px;
}
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  
}