.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.title {
  color: #8b61f2;
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #e5cae8;
}

.button {
  width: 300px;
  height: 40px;
  background-color: #8b61f2;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #9d74f5;
}

.errorMessage {
  color: #fff5e3;
  background-color: #ff3939;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: #8b61f2;
  text-decoration: none;
  margin-top: 20px;
}

.link:hover {
  text-decoration: underline;
}
