.container {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
}

.buylistData {
  background-color: #faf3f3 !important;

}

.title {
  color: #8b61f2;
  font-size: 2rem;
}

.subtitle{
  font-size: x-large;
  color: #000000;
}

.description {
  color: #000000;  
}

.button {
  background-color: #8b61f2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: #e5cae8;
}

.listItem {
  margin-top: 16px;
  list-style: none;
}

.productName {
  color: #8b61f2;
  margin-top: 24px;
}

.edit-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.confirmationButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.copyUrl {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.copyUrl input {
  flex-grow: 1;
  border: none;
  background-color: #fff5e3;
  color: #8b61f2;
  padding: 8px;
  border-radius: 4px;
  margin-right: 8px;
}

.copyUrl button {
  background-color: #8b61f2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.copyUrl button:hover {
  background-color: #e5cae8;
}

.deleteButton {
  color: #ffffff;
  background-color: #e63838;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

.deleteButton:hover {
  background-color: #ff0000;
}
