.footer {
  background-color: #8b61f2;
  color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 14px;
}

.link {
  display: inline-block;
  margin-left: 10px;
  color: #e5cae8;
  text-decoration: none;
}

.image {
  vertical-align: middle;
}
