.navbar {
  --primary-color: #8b61f2;
  --secondary-color: #e5cae8;
  --white-color: #ffffff;
  --light-color: #f7f7f7;
  --accent-color: #fff5e3;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px;
}

.column.searchColumn {
  display: flex;
  align-items: center;
}

.searchForm {
  position: relative;
}

.searchInput {
  width: 300px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.searchInputError {
  border: 2px solid red;
}

.searchButton {
  background-color: var(--secondary-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 8px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #ad96e6;
}

.categories {
  margin-left: 16px;
}

.categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.categories li {
  margin-right: 16px;
}

.categories li {
  text-decoration: none;
  color: var(--white-color);
  font-size: 16px;
  transition: color 0.3s ease;
}

.categories li :hover {
  color: var(--accent-color);
  background-color: #6144ac;
  padding: 5px;
}

.column.userColumn {
  display: flex;
  align-items: center;
}

.userInfoText {
  color: var(--white-color);
  font-size: 16px;
}

.logoutButton {
  background-color: transparent;
  color: var(--white-color);
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logoutButton:hover {
  color: var(--accent-color);
  background-color: #6144ac;
  padding: 8px;
}

.divider {
  border: none;
  border-top: 1px solid var(--white-color);
  margin: 8px 0;
}

@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
    padding: 10px 20px;
  }

  .column {
    margin-bottom: 10px;
  }

  .searchInput {
    width: 100%;
  }

  .searchButton {
    margin-top: 8px;
    width: 100%;
  }
  .searchButton:hover {
    margin-top: 8px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .searchInput {
    width: 200px;
  }
}

@media screen and (max-width: 992px) {
  .searchInput {
    width: 250px;
  }
}
