.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #8B61F2;
  color: #ffffff;
}

.searchForm {
  position: relative;
}

.searchInput {
  width: 300px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F7F7F7;
  color: #333333;
}

.searchInputError {
  border: 2px solid red;
}

.searchButton {
  background-color: #e1b7e6;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 8px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #ad96e6;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  margin-left: 20px;
}

.menu ul li a {
  text-decoration: none;
}

.menu li :hover {
  color: #ffffff;
  background-color: #6144ac;
  text-decoration: underline;
}

.mobileMenu {
  display: none;
  cursor: pointer;
  color: #FFFFFF;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  transition: transform 0.3s;
}

.open .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 890px) {
  .menu {
    display: none;
  }

  .mobileMenu {
    display: block;
  }

  .open {
    transform: translateX(0);
  }

  .menu.open {
    display: block;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .searchInput {
    width: 250px;
    font-size: 14px;
    padding: 8px;
  }


  .searchButton {
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media (max-width: 640px){
  .searchInput {
    width: 220px;
    font-size: 14px;
    padding: 8px;
  }


  .searchButton {
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media (max-width: 520px){
  .searchInput {
    width: 200px;
    font-size: 14px;
    padding: 8px;
  }


  .searchButton {
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media (max-width: 390px) {
  .searchInput {
    width: 150px;
    font-size: 14px;
    padding: 8px;
  }

  .searchButton {
    font-size: 14px;
    padding: 8px 12px;
    margin-top: 10px;
  }
}

