.card {
  width: 300px;
  height: 200px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.card h2 {
  font-size: 18px;
  color: #8b61f2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card .price {
  font-size: 16px;
  color: #555555;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card button {
  padding: 10px 20px;
  background-color: #de8fe7;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.card button:hover {
  background-color: #c853ce;
}

.card button a {
  color: #ffffff;
  text-decoration: none;
}

.card button a:hover {
  text-decoration: underline;
}

@media (min-width: 890px) {
  .card {
    width: 500px;
    height: 300px;
  }
}

@media (min-width: 640px) {
  .card {
    width: 350px;
    height: 250px;
  }
}

@media (min-width: 520px) {
  .card {
    width: 350px;
    height: 250px;
  }
}

@media (min-width: 390px) {
  .card {
    width: 300px;
    height: 200px;
  }
}
