.productData {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
  padding: 10px;
  border-radius: 4px;
}

.productData h2 {
  width: 100%;
  margin-bottom: 10px;
}

.productData .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.productData .column {
  flex-basis: 20%;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  margin-right: 10px;
}

.productData .column:last-child {
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productData .button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  margin-right: 1rem;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.productData .deleteButton {
  background-color: #f44336;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}
.deleteButton:hover {
  background-color: #ff0000;
}

.productData .confirmationButtons {
  margin-top: 10px;
}

.productData .editColumn {
  flex-basis: calc(33.33% - 20px);
  display: flex;
  justify-content: flex-end;
}

.productData .deleteColumn {
  flex-basis: calc(33.33% - 20px);
  display: flex;
  justify-content: flex-start;
}
